/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

#top-nav{
    background:#0087c7;   
    height: 60px;
}

#search-summary{
    background:white; 
    padding: 10px; 
}

#summary-cont{
    width: 150px;
    display: inline-block;
}

.search {
    width: 400px;
}

.search_button{
    margin-top: 5px;
    margin-left: 62%;
    background-image: -moz-linear-gradient( 90deg, rgb(89,152,24) 0%, rgb(136,197,73) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(89,152,24) 0%, rgb(136,197,73) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(89,152,24) 0%, rgb(136,197,73) 100%);
      border-style: solid;
    color: white;
}

#search_cont{
    display:inline-block;
    float: right;
    width: 400px;
}

#env-tag{
    color: white;
    font-weight: bolder; 
    display: inline;
}

/*
#event-sel{
}
*/

.col-xs-12 .row .container{
    margin: 0 -10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#logo{
    height: 60px;
    width: 60px;
    padding: 0;
    margin: 0; 
}

select{
  border-radius: 10px;
  background-color: rgb(232, 233, 234);
  height: 35px;
  width: 300px;
    margin-left: 300px;
    font-size: 15px;
  font-family: "Arial";
  color: rgb(115, 114, 114);
  font-weight: bold;
  line-height: 2.143;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th {
  background-color: #e1e1e1;
  padding: 8px;
  text-align: left;
  border-bottom: 3px solid #88c549;
} 

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 18px;
}


td:nth-child(3) {
    text-align: center;
}

tr{
    padding: 12px;  
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #ffffff;
}

#summary-cont p:nth-child(2){
    color: #0098c4;
}

.close-image{
padding: 0; 
border: none;
background: none; 
margin:auto;
    
}

.check-in_button{
    margin: auto;
}

.close-image img {
    display: block;
    height: 30px;  
    width: 30px;
}

tr td:nth-child(5) button {
     background-image: -moz-linear-gradient( 90deg, rgb(89,152,24) 0%, rgb(136,197,73) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(89,152,24) 0%, rgb(136,197,73) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(89,152,24) 0%, rgb(136,197,73) 100%);
      border-style: solid;
  border-width: 1px;
  border-color: rgb(136, 197, 73);
  color: white;
  
}

/*
.drop_list {
    width: 100%;
    height: 30px;
    overflow: hidden;
    background: no-repeat #ffffff;
    border: 1px solid #000;
    background-image:url('YOUR_TRANSPARENT_BACKGROUND_ARROW.png');
    background-position: top right; 
}

.drop_list select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    padding: 3px;
    font-size: 1.2em;
    height: 30px;
    width: 120%;
    overflow: hidden;
}
*/

/*Temp for show*/
tr td:nth-child(5) button:active:after {
  
  background-image: -moz-linear-gradient( 90deg, rgb(159,35,22) 0%, rgb(248,31,20) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(159,35,22) 0%, rgb(248,31,20) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(159,35,22) 0%, rgb(248,31,20) 100%);
  color: white;
 }

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
